
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
  font-size: 12px;
  margin-right: 1.4rem;
  text-align: center;
  
  strong {
    display: block;
    font-size: 1.6rem;
  }

  .vote, .answer {
    width: 60px;
    height: 60px;
  }

  .status {
    &.unanswered {
      border: none;
    }
    &.answered {
      border: 1px solid $color-green;
      color: $color-green;
    }
    &.answered-accepted {
      background-color: $color-green;
      color: $color-white;
    }
  }

}
.vote-controls {
  text-align: center;
  a.vote-up {
    cursor: pointer;
    color: $gray-700;
  }
  a.vote-down {
    cursor: pointer;
    color: $gray-300;
  }
  span.vote-count {
    font-size: 1.5rem;
  }
  a.favorite {
    color: lighten(orange,15%);
    cursor: pointer;
    &:hover {
      color: lighten($color: orange, $amount: 0%); 
    }
  }
  a.answer {
    color: $gray-300;
    cursor: pointer;
  }
  a.answer.accepted {
    color: green; 
    &:hover {
      color: green;
    }
    
  }
}
